podatki/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv
podatki/Parking_Violations_Issued_-_Fiscal_Year_2015.csv
podatki/Parking_Violations_Issued_-_Fiscal_Year_2016.csv
podatki/Parking_Violations_Issued_-_Fiscal_Year_2017.csv
csv_small